* {
    box-sizing: border-box;
}

h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}


img {
    object-fit: cover;
    border: 0.5px solid #aaaaaaaa;

}
.container {
    margin-top: 40px;
}

.block {
    margin-bottom: 20px;
}
.a {
    z-index: -1;
}
